<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofei.mapper.order.OrderInfoMapper">
    <update id="revokeOrderStatus" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update order_info
            <set>
                isDel=1,
                delReason='订单撤销'
            </set>
            where id = #{item}
        </foreach>
    </update>
    <update id="deleteOrderStatus" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update order_info
            <set>
                isDel=-1,
                delReason='手动删除'
            </set>
            where id = #{item}
        </foreach>
    </update>
    <update id="recyceOrderStatus" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update order_info
            <set>
                isDel=0,
                delReason=''
            </set>
            where id = #{item}
        </foreach>
    </update>
    <update id="batchAcceptOrder" parameterType="java.util.List">
        <foreach collection="list" item="bean" index="index" open="" close="" separator=";">
            update order_info
            <set>
                orderStatus = 20,
                deliveryManId = #{bean.deliveryManId}
            </set>
            <where>
                id = #{bean.id}
            </where>
        </foreach>
    </update>
    <update id="successOrder" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update order_info
            <set>
                orderStatus = 40
            </set>
            where id = #{item}
        </foreach>
    </update>
    <update id="execptionOrder" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update order_info
            <set>
                orderStatus = 30
            </set>
            where id = #{item}
        </foreach>
    </update>
<!--    <update id="assignOrder" parameterType="java.util.List">-->
<!--        <foreach collection="list" item="item" index="index" open="" close="" separator=";">-->
<!--            update order_info-->
<!--            <set>-->
<!--                orderStatus = 40-->
<!--            </set>-->
<!--            where id = #{item}-->
<!--        </foreach>-->
<!--    </update>-->
</mapper>
